<app-purchase-header></app-purchase-header>
<app-popup [message]="popupMessage" (confirmation)="confirmAcknowledge()" [optionsExcluded]="popupOptionsExcluded"
  (cancelation)="cancelAcknowledge()" *ngIf="showPopup"></app-popup>
  <div class="body-container purchase-form">
  <div class="section-container">
    <div class="top-section">
      <div class="header-label">Purchase</div>
    </div>
    <div class="section-body row  form">
      <div class="sub-section-header col-md-6">Pharmacy Details</div>
      <div class="sub-section-header col-md-6">GPO Details</div>
      <div class="input-wrapper col-md-6 ">
        <label>Pharmacy Name</label>
        <br />
        <mat-select class="input-field " [(ngModel)]="purchaseForm.pharmacyId" placeholder="Select Pharmacy"
          (ngModelChange)="onChangePharmacy(pharmacy)">
          <mat-option value="">Select Pharmacy </mat-option>
          <mat-option *ngFor="let pharmacy of pharmacyList" value="{{pharmacy.id}}">
            {{pharmacy.name}}
          </mat-option>
        </mat-select>
        <label class="error-label"></label>
      </div>



      <div class="input-wrapper col-md-6 ">
        <label>GPO Name</label>
        <br />
        <mat-select class="input-field " [(ngModel)]="purchaseForm.gpoId" placeholder="Select GPO"
          (ngModelChange)="onChangeGPO($event)">
          <mat-option value="">Select GPO </mat-option>
          <mat-option *ngFor="let gpo of gpoList" value="{{gpo.id}}">
            {{gpo.name}}
          </mat-option>
        </mat-select>
        <label class="error-label"></label>
      </div>

      <ng-container *ngIf="productList && productList.length>0">
        <div class="sub-section-header">Product</div>
        <div class="sub-section-sub-header">Available Products:</div>
        <div
          class="input-wrapper row product-preview {{(purchaseForm && purchaseForm.product && purchaseForm.product.drugId==product.drugId) ? 'product-preview-selected': ''}}"
          *ngFor="let product of productList" (click)="selectProduct(product)">
          <div class=""><img class="ico-img" src="https://cdn.base64decode.net/images/decode/32b8751ff3e2e593728cc8553bd1d8dd.png">
          </div>
          <div class=""><div class="productname-small">{{product.drugName}}</div>
          </div>
        </div>

        <ng-container *ngIf="purchaseForm.product">
          <div class="sub-section-sub-header">Product Details</div>
          <div class="input-wrapper col-md-6 ">
            <img class="" src="https://cdn.base64decode.net/images/decode/32b8751ff3e2e593728cc8553bd1d8dd.png">
          </div>
          <div class="input-wrapper col-md-6 ">

            <label class="bold product-name">{{purchaseForm.product.drugName}}</label>
            <br />
            <label class="product-section-labels">Price</label>
            <label>{{purchaseForm.product.drugPrice}}/-</label>
            <br />
            <label class="product-section-labels">Quantity</label>
            <input class="w-100px" [(ngModel)]="purchaseForm.product.quantity"
              (ngModelChange)="onChangeQuantity($event)">
            <br />
            <ng-container *ngIf="purchaseForm.calculatedDetails">


              <label class="product-section-labels">Total Price</label>
              <label class="strike-through">{{purchaseForm.totalPrice}}/-</label>

              <br />
              <label class="product-section-labels">GPO Discount Amount</label>
              <label>{{purchaseForm.calculatedDetails.totalRebateAmount}}/-</label>
              <span>({{purchaseForm.calculatedDetails.gpoDiscountPercent}}%)</span>

              <br />
              <label class="product-section-labels">GSK Discount Amount</label>
              <label>{{purchaseForm.calculatedDetails.gskDiscountAmount}}/-</label>
              <span>({{purchaseForm.calculatedDetails.gskDiscountPercent}}%)</span>
              <br />
              <label class="product-section-labels">Total Amount GSK Get</label>
              <label>{{purchaseForm.calculatedDetails.totalAmountGskGet}}/-</label>

              <br />

              <label class="product-section-labels">GPO Processing Fees</label>
              <label>{{purchaseForm.calculatedDetails.gpoProcessingFees}}/-</label>
              <br />

              <label class="product-section-labels">grand Total Invoiced Amount</label>
              <label>{{purchaseForm.calculatedDetails.grandTotalInvoicedAmount}}/-</label>
              <label class="error-label"></label>
            </ng-container>
          </div>

          <ng-container *ngIf="purchaseForm.calculatedDetails">
            <div class="sub-section-header col-md-12">Shipping Details</div>
            <div class="input-wrapper col-md-6 ">
              <label>Address Line1</label>
              <br />
              <input [(ngModel)]="purchaseForm.address.addressLine1">
              <label class="error-label"></label>
            </div>
            <div class="input-wrapper col-md-6 ">
              <label>Address Line2</label>
              <br />
              <input [(ngModel)]="purchaseForm.address.addressLine2">
              <label class="error-label"></label>
            </div>
            <div class="input-wrapper col-md-6 ">
              <label>ZIP Code</label>
              <br />
              <input [(ngModel)]="purchaseForm.address.zip">
              <label class="error-label"></label>
            </div>
            <div class="input-wrapper col-md-6 ">
              <label>State</label>
              <br />
              <input [(ngModel)]="purchaseForm.address.state">
              <label class="error-label"></label>
            </div>
            <div class="btn-container col-md-12 ">
              <button class="btn-submit" (click)="purchase()">Purchase</button>
              <button class="btn-submit" (click)="cancel()">Cancel</button>
            </div>
          </ng-container>
        </ng-container>

      </ng-container>

    </div>
  </div>
</div>
<app-footer></app-footer>